<template>
   <nav>
       <div class="nav-wrapper green">
           <div class="container">
               <router-link to="/"
               class="brand-logo">Administrador de empleados</router-link>
           </div>
       </div>
   </nav>
</template>
